#! /usr/bin/env python3
# coding: utf-8

""" Necessary information to connect the application to your MySQL Database """

HOST = "HOST"
USERNAME = "USERNAME"
PASSWORD = "PASSWORD"
DATABASE = "DATABASE_NAME"
